earthengine_api==1.5.21
folium==0.20.0
geopandas==1.1.0
google_api_python_client==2.174.0
google_auth_oauthlib==1.2.2
matplotlib==3.8.4
numpy==2.3.1
oauthlib==3.3.1
osmnx==2.0.4
protobuf==3.20.3
pydantic==2.11.7
python-dotenv==1.1.1
rasterio==1.4.3
Requests==2.32.4
requests_oauthlib==2.0.0
sentinelsat==1.2.1
